<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <h2>Latest Mars News</h2>
    <h3>{{facts.mars_title}}</h3>
      <p>{{facts.mars_paragraph}}</p><br><br>

    <h2>Featured Mars Image</h2>
      <img src="{{ facts.featured_img_url}}" alt="Featured Mars Pic"><br><br>
    <h2>Current Mars Weather:</h2><br>
      <p>{{facts.mars_weather}}</p><br><br>
    <h3>Mars Facts:</h3><br>
    <p>{{facts.mars_table | safe}}</p><br>
    
    <h3>Mars Hemispheres</h3><br>
    {% for hemisphere in facts.mars_hemi %}
    <div class="col-md-6">
      <div class = "thumbnail">
        <img src='{{ hemisphere.img_url }}'>
      </div>
      <div class = 'caption'>
        <p><b>{{hemisphere.title}}</b></p>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>